{% extends "base.html" %}

{% block body %}
<div class="container">
	<div class="row">
		<div class="col md-12">
			<div class="jumbotron p-3">
				<div class="d-flex justify-content-between align-items-center">
					<h4 class="mb-0">BOOKS</h4>
					<button type="button" class="btn btn-success me-5" data-bs-toggle="modal"
						data-bs-target="#modaladd">
						Add New Books
					</button>

					{% with messages = get_flashed_messages() %}
					{% if messages %}
					{% for message in messages %}
					<div class="alert alert-success alert-dissmissable" role="alert">
						<button type="button" class="close" data-dismiss="alert">
							<span aria-hidden="true">x</span>
						</button>
						{{message}}
					</div>
					{% endfor %}
					{% endif %}
					{% endwith %}
				</div>

			</div>

			<div class="col md-12">
				<table class="table table-hover table-dark text-center ">
					<tr>
						<th>Id</th>
						<th>Name</th>
						<th>ISBN</th>
						<th>Genre</th>
						<th>Image</th>
						<th>Action</th>
					</tr>

					{% if data %}
					{% for row in data %}
					<tr class="align-middle">
						<td>{{row.id}}</td>
						<td>{{row.name}}</td>
						<td>{{row.isbn}}</td>
						<td>{{row.genre}}</td>
						<td><img src="{{row.image_url}}" width="80" height="55" alt="image"></td>


						<td>
							<a href="" class="btn btn-warning btn-xs" data-bs-toggle="modal"
								data-bs-target="#modaledit{{row.id}}">Edit</a>
		<a href='{{url_for("delete", id = row.id, db = db)}}' class="btn btn-danger btn-xs"
								onclick="return confirm('Are you sure to Delete ?');">Delete</a>
						</td>
					</tr>

					<div class="modal fade" id='modaledit{{row.id}}'>
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h4 class="modal-title">EDIT EMPLOYEE</h4>
								</div>
								<div class="modal-body">
									<form action='{{url_for('edit', id=row.id, dab=db)}}' method="POST" enctype="multipart/form-data">
										<div class="form-group">
											<label for="name">NAME: </label>
											<input type="text" class="form-control" name="name" value="{{row.name}}"
												required="True"></input>
										</div>

										<div class="form-group">
											<label for="isbn">ISBN: </label>
											<input type="text" class="form-control" name="isbn" value="{{row.isbn}}"
												required="True"></input>
										</div>

										<div class="form-group">
											<label for="genre">GENRE: </label>
											<input type="text" class="form-control" name="genre" value="{{row.genre}}"
												required="True"></input>
										</div>

<br>
										<div class="form-group">
											<label for="image">IMAGE: </label>
											<input type="file" name="image" accept="image/*">
										</div>
<br>										<div class="form-group">
											<label for="description">DESCRIPTION: </label>
											<textarea name="description" rows="2"
												style="width: 100%;">{{row.description}}</textarea>
										</div>

										<div class="form-group">
											<button type="submit" class="btn btn-primary">SUBMIT</button>
										</div>
										<br>

									</form>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">CLOSE</button>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
					{% endif %}
				</table>
			</div>

			<!-- ADD Books modal -->
			<div class="modal fade" id="modaladd">

				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">EDIT EMPLOYEE</h4>
						</div>
						<div class="modal-body">
							<form action='{{url_for("insert", db = "Books")}}' method="POST"
								enctype="multipart/form-data">
								<div class="form-group">
									<label for="name">NAME: </label>
									<input type="text" class="form-control" name="name" required="True"></input>
								</div>

								<div class="form-group">
									<label for="isbn">ISBN: </label>
									<input type="text" class="form-control" name="isbn" required="True"></input>
								</div>

								<div class="form-group">
									<label for="genre">GENRE: </label>
									<input type="text" class="form-control" name="genre" required="True"></input>
								</div>

								<br>
								<div class="form-group">
									<label for="image">IMAGE: </label>
									<input type="file" name="image" accept="image/*" required>
								</div>

								<br><br>



								<div class="form-group">
									<label for="description">DESCRIPTION: </label>
									<textarea name="description" rows="2" style="width: 100%;"></textarea>
								</div>


								<br>
								<div class="form-group">
									<button type="submit" class="btn btn-primary">SUBMIT</button>
								</div>
								<br>

							</form>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">CLOSE</button>
							</div>
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>
	{% endblock %}
