			<a class="categoryLink col" href='{{url_for("routes.categoryBooks", category = "History")}}'>
				<div class="col categoryList rounded-3 p-2 hover-shadow">
					Biography
				</div>
			</a>
			<a class="categoryLink col" href='{{url_for("routes.categoryBooks", category = "Buisness")}}'>
				<div class="col categoryList rounded-3 p-2 hover-shadow">
					Self-Help
				</div>
			</a>
			<a class="categoryLink col" href='{{url_for("routes.categoryBooks", category = "Humour")}}'>
				<div class="col categoryList rounded-3 p-2 hover-shadow">
					Science
				</div>
			</a>


